*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
}

.container {
  text-align: center;
}
.container h1{
  margin: 20px;
}
#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #555050;
  border: 2px solid #b1b1b1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.cell.x::before {
  content: 'X';
  color: #f00;
  font-size: 25px;
}

.cell.o::before {
  content: 'O';
  color: #00f;
  font-size: 25px;
}

.winning-message {
  display: none;
  flex-direction: column;
  align-items: center;
}

.winning-message.show {
  display: flex;
  margin: 20px;
  font-size: 25px;
}

#restartButton {
  background-color: #1e1d1d;
  color: #b1b1b1;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
